:root {
    --background-color: #000;
    --green: #0f0;
    --red: #f00;
    --orange: #f50;
    --status-color: #ddd;
}
* {
    box-sizing: border-box;
}

body {
    width: 480px;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 25px;
    font-weight: 100;
    font-family: monospace;
    color: var(--status-color);
    background: var(--background-color);
    border: 6px inset var(--status-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main>div {
    margin-bottom: 10px;
    padding: 10px;
}


/* BANNER */
#top_logo {
    display: inline-block;
    width: 60%;
    margin: 10px auto;
}

#top_logo .logo_color {
    fill: var(--status-color);
}


/* LAST UPDATE */
#btn-refresh-all{
    user-select: none;
}
#btn-refresh-all.active {
    cursor: not-allowed;
    color: #ddd;
    pointer-events: none;
}

#last-update:before{
    content: "Last update: "
}

#last-update{
    margin-right: 10px;
}


/* PROGRAMS LIST */

#program-info-title.lax{
    font-size: 1em;

}
ul {
    list-style-type: square;
    margin: 0;
    padding-left: 5px;
}



.pgm-name {
    display: inline-block;
    color: var(--status-color);
    font-size: 1.2em;
    margin-bottom: 10px;

}

/**/

#domain-host {
    color: white;
}

#security-txt-link{
    text-decoration: none;
}

h1,
h2 {
    margin: 0;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    text-shadow:
        -1px -1px 0 var(--status-color),
        1px -1px 0 var(--status-color),
        -1px 1px 0 var(--status-color),
        1px 1px 0 var(--status-color),
        0 0 5px #000,
        0 0 5px #000,
        0 0 5px #000;
    color: black;
}

#security-txt-content {
    padding: 10px 0;
    overflow-x: auto;
    color: white;
    background: #111;
}

a {
    color: var(--status-color);
}


/* class utils */

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}


.dot-border {
    border: 1px dotted var(--status-color);
}

.double-border {
    border: 3px double var(--status-color);
}